@{
    List<Pizza> ListPizza = new List<Pizza>();

    Layout = null;

    ListPizza.Add(new Pizza("Pizza Margherita", "bona come er pane", "cane.png", 3.99));
    ListPizza.Add(new Pizza("Pizza Capricciosa", "idem co patate", "cane.png", 7.99));
    ListPizza.Add(new Pizza("Pizza Diavola", "er duca", "cane.png", 12.99));
    ListPizza.Add(new Pizza("Pizza Quattro Formaggi", "fiocina", "cane.png", 9.99));
    ListPizza.Add(new Pizza("Pizza Coi Funghi", "er monnezza", "cane.png", 11.99));
    ListPizza.Add(new Pizza("Pizza Salsiccia e Salame", "tonino u lurdu", "cane.png", 5.99));
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] Totò Sapore</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/la_mia_pizzeria_static.styles.css" asp-append-version="true" />
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Totò Sapore</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Exercise" asp-action="Index">Razor</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <h1 class="text-center display-4">Welcome to Pizzeria Totò Sapore</h1>
            <table class="table table-dark table-striped table-hover mt-4">
                <thead>
                    <tr>
                        <th scope="col" width="25%">Nome</th>
                        <th scope="col" width="25%">Descrizione</th>
                        <th scope="col" width="25%">Immagine</th>
                        <th scope="col" width="25%">Prezzo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var pizza in ListPizza)
                    {
                        <tr>
                            <td>
                                <h3>@pizza.Name</h3>
                            </td>
                            <td>
                                <p>@pizza.Description</p>
                            </td>
                            <td>
                                <img width="100" src="~/img/@pizza.Image">
                            </td>
                            <td>
                                <h4>@pizza.Price€</h4>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </body>
</html>